*,html,body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
   
}
/* header*/
.header{
    position:fixed;
    width: 100%;
    height: auto;
   
}
.mynavbar{ padding-left: 10px;
    width: 100%;
    position: fixed;
    z-index: 4;
}
.logo img{
    width:8%;    
    height:auto;
    float: right;
    border-radius: 8%;
    z-index: 4;
    position: relative;       
}
.mynavbar ul{ padding-top: 20px;
    list-style: none;
}
.mynavbar li{
    display: inline;
    padding-left:15px;
    
}

.mynavbar .def-btn{
    width:fit-content;
    color:whitesmoke;
    background-color: rgb(241, 54, 91);
    padding:4px;
    border-radius: 6%;
    font-family: sans-serif;
    transition: all 0.5s ease-in;
    z-index: 4;
    box-shadow: 2px 2px 2px black;
}

.mynavbar .def-btn:hover{
    background-color: crimson;
    color: blanchedalmond;
    transition: ease-in-out;
    padding: 5px;
}
/* man ki baat section*/
.mankibaat{ 
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(img/mankibaat.png);
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
}
.mkbcloud{
    z-index: 1;
    position: absolute;
    top: -50%;
    right: -45%;
}

.mkbtext{
    margin-top:20%;
    color: cornsilk;
    padding-left: 15%;
    padding-bottom: 30%;
}
.mkbtext h1{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}
.mkbtext h2{
    color: rgb(48, 48, 48);
    font-size: 30px;
    font-weight:bold;
}
.mkbtext h2 span{
    color: crimson;
}
.mkbtext .btn-half{
    width: 30%;
    background-color:  rgb(231, 29, 70);
    box-shadow: 2px 2px 3px black;
    color: white;
    margin-right: 20%;    
}
.mkbtext .btn-half:hover{
    background-color: rgb(190, 29, 61);
    color: blanchedalmond;
    transition: ease-in-out;
}
.mkbtext .btn-full{
    width: 30%;
    background-color: white;
    color: rgb(231, 29, 70);
    box-shadow: 2px 2px 3px black;
}
.mkbtext .btn-full:hover{
    background-color: rgb(230, 222, 222);
    color:rgb(187, 16, 50) ;
}
.brain{ position: absolute;
    margin-right: 15%;
    margin-top: 10%;
    z-index: 2;
}

.one-cloud{
    position: absolute;
     width: 70%;
    top:-15%;
     margin-left: -20%;
     z-index: 3;
     
 }
 /* separating clouds*/
 .one1-cloud{
    position: absolute;
    width: 70%;
    top: -19%;
    right:0%;
    z-index: 3;
}
.one2-cloud{
    position: absolute;
    width: 70%;
    top: -17%;
    margin-left:20%;
    z-index: 3;
}

/* how it works section*/
.how-it-works{
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}

.hwtext{
    margin-top: 50%;
    margin-left: 20%;
    padding-bottom: 20%;
}
.hwtext h1{
    color: rgb(37, 37, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}

.hwtext .fa{
    width: 10%;
    font-size: 100px;
}
.hwimg{ float: right;
    margin-right:-20%;
    margin-top: 70%;
    width: 80%;
}
/* section sepration waves*/
.upper-wave1{
    position: absolute;
    margin-left: 0%;
    margin-top: -5%;
    z-index: 3;
}
.lower-wave1{
    position: absolute;
    margin-left: 0%;
    z-index: 3;
}
/* service section*/
.service{  margin-top:10% ;
    background-image: url(img/service.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
    
}
.servicetext{
    margin-top: 43%;
    margin-left: 20%;
    padding-bottom: 30%;
    color: whitesmoke;
}
.servicetext h1{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}

.servicetext .fa{
    color: black;
    width: 10%;
    font-size: 100px;
}
.serviceimg{ float: right;
    margin-right:-20%;
    margin-top: 45%;
    width: 80%;
}
/* therapy section*/
.therapy{
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}
.therapytext{
    margin-top: 65%;
    margin-left: 20%;
    padding-bottom: 20%;
}
.therapytext h1{
    color: rgb(37, 37, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}

.therapytext .fa{
    width: 10%;
    font-size: 100px;
}
.therapyimg{ float: right;
    margin-right:-20%;
    margin-top: 70%;
    width: 80%;
}
/* separting waves*/
.upper-wave2{
    position: absolute;
    z-index: 3;
}
.lower-wave2{
    position: absolute;
    margin-top: 5%;
    z-index: 3;
}
/* blog section*/
.blog{  margin-top:10% ;
    background-image: url(img/blogs.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
    
}
.blogtext{
    margin-top: 43%;
    margin-left: 20%;
    padding-bottom: 30%;
    color: rgb(0, 0, 0);
}
.blogtext h1{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}

.blogtext .fa{
    color: black;
    width: 10%;
    font-size: 100px;
}
.blogimg{ float: right;
    margin-right:-20%;
    margin-top: 45%;
    width: 80%;
}
/* speak-your-man-ki-baat section*/
.speak{
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
}
.speaktext{
    margin-top: 55%;
    margin-left: 20%;
    padding-bottom: 20%;
}
.speaktext h1{
    color: rgb(37, 37, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}

.speaktext .fa{
    width: 10%;
    font-size: 100px;
}
.speakimg{ float: right;
    margin-right:-7%;
    margin-top: 60%;
    width: 60%;
}
.upper-wave2{
    position: absolute;
    z-index: 3;
}
.lower-wave2{
    position: absolute;
    margin-top: 5%;
    z-index: 3;
}
.contact-us{  margin-top:10% ;
    background-image: url(img/contact.png);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
    
}
.ctutext{
    margin-top: 50%;
    margin-left: 20%;
    padding-bottom: 50%;
    color: rgb(0, 0, 0);
}
.ctutext h1{
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    border-bottom-style:outset;
    border-bottom-width: 0.001em;
    border-bottom-color: rgb(255, 57, 133);
    text-shadow:2px 2px 3px black;
}
.ctutext .mail{
    margin-top: 5%;
    background-color: rgb(189, 85, 133);
    border-radius: 5%;

}
.ctutext .website{
    margin-top: 5%;
    background-color: rgb(92, 137, 156);
    border-radius: 5%;

}
.ctutext .phone{
    margin-top: 5%;
    background-color: rgb(23, 221, 228);
    border-radius: 5%;

}
.team{ justify-content: center;
    position: relative;
    margin-top: 70%;
    margin-left: 30%;
}
.team img{ margin:0 auto;
    width:20%;
    border-radius: 50%;

}
.team h3,h4{ 
   text-align: center;
}
.copyright{
    text-align: center;
    margin-bottom: 0px;
    z-index: 4;
}
.end-cloud{
    position: absolute;
    width: 70%;
    margin-top:-15% ;
    left: -20%;
    z-index: 3;
    
}
.end1-cloud{
    position: absolute;
    width: 70%;
    margin-top:-18% ;
    right:0px;
    z-index: 3;
}
.end2-cloud{
    position: absolute;
    width: 70%;
    left:20%;
    margin-top:-15% ;
    z-index: 3;
}


