html {
    scroll-behavior: smooth;
}
a{
    color: white;
}
.all{
    overflow: hidden;
    background-color: black;
    animation: bgcolor 60s linear infinite;
}
a:hover{
    color: grey;
    text-decoration: none;
}
.btn{
    width: 130px;
}
h1{
    color: white;
    font-family: 'Montserrat-black',sans-serif;
    font-weight: 900;
    transform: scale(2.0);
}
@media screen and (max-width: 768px) {
    h1{
        font-size:30px;
    }
}
h2{
    color: white;
    font-family: 'Montserrat-black',sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}
.navbar h1{
    font-family: 'Montserrat-black',sans-serif;
    font-weight: bolder;
    transform: scale(1);
}
.banner{
    /* padding-top: 200px;
    padding-bottom: 200px; */
    text-align: center;

    animation-name:elastic-snap-to-point-from-apple;
    animation-duration:.8s;
}
.banner h1{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.banner-quote{
    position: relative;
    bottom: 300px;
    margin-top: 40px;
    transform: scale(2.5);
    font-weight: normal;
}
.title{
    font-weight: bold;
    font-size: 2rem;
}
.navbar{
    background-color: none;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 30px;
}
.nav-item a{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item{
    margin: 5px;
}
#navbarSupportedContent{
    text-align: right;
}
.login{
    margin-top: 10px;
}
.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
.footer p{
    margin-top: 3%;
}
button{
    margin: 10px;
}


@keyframes bgcolor {
    0% {
        background-color: #E74C3C;
    }
    14.2%{
        background-color: rgb(156, 41, 28);
    }
    28.4%{
        background-color: rgb(238, 147, 0);
    }
    42.6% {
        background-color: #157a29;
    }
    56.8%{
        background-color: rgb(96, 163, 19);
    }
    71% {
        background-color: rgb(26, 115, 194);
    }
    85.2% {
        background-color: #AB47BC;
    }
    100%{
        background-color: #E74C3C;
    }
}

@keyframes elastic-snap-to-point-from-apple {
    from { opacity:0; -webkit-transform:translate3d( 210px, -145px, 0); }
    25%  { opacity:1; -webkit-transform:translate3d( -15.6px, 4.1px, 0); }
    30%  { opacity:1; -webkit-transform:translate3d( -10.3px, 2.7px, 0); }
    35%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    40%  { opacity:1; -webkit-transform:translate3d( 4.5px, -1.2px, 0); }
    45%  { opacity:1; -webkit-transform:translate3d( 2.9px, -0.8px, 0); }
    50%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    55%  { opacity:1; -webkit-transform:translate3d( -1.3px, 0.3px, 0); }
    60%  { opacity:1; -webkit-transform:translate3d( -0.8px, 0.2px, 0); }
    65%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    70%  { opacity:1; -webkit-transform:translate3d( 0.4px, -0.1px, 0); }
    75%  { opacity:1; -webkit-transform:translate3d( 0.2px, -0.1px, 0); }
    80%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    85%  { opacity:1; -webkit-transform:translate3d( -0.1px, 0, 0); }
    90%  { opacity:1; -webkit-transform:translate3d( -0.1px, 0, 0); }
    to   { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
}


/*login.html page*/

.login-popup{
    margin: 5%;
}

.signup{
    padding: 3% 5% 5% 5%;
    background-color: white;
    border-radius: 20px;
    border: solid;
    border-width: 5px;
}

.login{
    margin-top: 0px;
    padding: 3% 5% 5% 5%;
    background-color: white;
    border-radius: 20px;
    border: solid;
    border-width: 5px;
}
.login-popup h2{
    color: black;
    margin-bottom: 50px;
}

.fab{
    margin: 20px;
    color: black;
}