html {
    scroll-behavior: smooth;
}
a{
    color: white;
}
.all{
    overflow: hidden;
    background-color: black;
    animation: bgcolor 60s linear infinite;
}
a:hover{
    color: black;
    text-decoration: none;
}
.btn{
    width: 130px;
}
h1{
    color: white;
    font-family: 'Montserrat-black',sans-serif;
    font-weight: 900;
    transform: scale(2.0);
}
@media screen and (max-width: 768px) {
    h1{
        font-size:30px;
    }
}
h2{
    color: white;
    font-family: 'Montserrat-black',sans-serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

.banner{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    animation-name:elastic-snap-to-point-from-apple;
    animation-duration:.8s;
}
.banner h1{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
.banner-quote{
    position: relative;
    bottom: 300px;
    margin-top: 40px;
    transform: scale(2.5);
    font-weight: normal;
}
.title{
    font-weight: bold;
    font-size: 2rem;
}
.navbar{
    background-color: none;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 30px;
}
.navbar h1{
    font-family: 'Montserrat-black',sans-serif;
    font-weight: bolder;
    transform: scale(1);
}
.nav-item a{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item{
    margin: 5px;
}
.nav-item:hover{
    color: black;
}
#navbarSupportedContent{
    text-align: right;
}
.login{
    margin-top: 10px;
}
.footer{
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
.footer p{
    margin-top: 3%;
}
button{
    margin: 10px;
}
.cardd{
    border-radius: 15px;
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 5% 8%;

}
.selfquestions{
    margin-top: 0;
    text-align: center;
}
.selfquestions h3{
    margin:2%;
    color: black;
}
.feeling{
    color: grey;
}
.welcomenote h2{
    color: black;
    text-align: center;
}
.welcomenote h3{
    color: grey;
    text-align: center;
}
.about h2{
    color: black;
    text-align: center;
}
.about h1,.about h3,.about h4{
    color: grey;
    text-align: center;
}
.about h4{
    margin-bottom: 30px;
}
.learnmore{
    padding-top: 40px;
    text-align: center;
}
.learnmore a{
    color: black;
    padding: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5%;
}
.learnmore a:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
    padding: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5%;
}
.learnmore a:active{
    background-color: grey;
    color: white;
    padding: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10%;
}
.mission h2{
    color: black;
    text-align: center;
}
.mission h1,.mission h3,.mission h4{
    color: grey;
    text-align: center;
}

/*knowmore page*/
.howitworks h1,.howitworks h2,.howitworks h3,.howitworks h5{
    color: black;
}
.howitworks h2{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.howitworks h4{
    color: gray;
    margin-bottom: 30px;
}

/*@keyframes bgcolor {
    0% {
        background-color: #00204a;
    }
    12.5%{
        background-color: #005792;
    }
    25%{
        background-color: #790c5a;
    }
    37.5% {
        background-color: #cc0e74;
    }
    50%{
        background-color: #481380;
    }
    62.5% {
        background-color: #7f78d2;
    }
    75% {
        background-color: #d63447;
    }
    87.5%{
        background-color: #f57b51;
    }
    100% {
        background-color: #00204a;
    }
}*/

/*Sample 1*/

/*@keyframes bgcolor { 
    0% {
        background-color: #FF8A65;
    }
    14.2%{
        background-color: #FBE9E7;
    }
    28.4%{
        background-color: #FFCC80;
    }
    42.6% {
        background-color: #E6EE9C;
    }
    56.8%{
        background-color: #AED581;
    }
    71% {
        background-color: #80DEEA;
    }
    85.2% {
        background-color: #7E57C2;
    }
    100%{
        background-color: #FF8A65;
    }
}*/

/*Sample 2*/

/*@keyframes bgcolor {
    0% {
        background-color: #E74C3C;
    }
    14.2%{
        background-color: #F1948A;
    }
    28.4%{
        background-color: #F8C471;
    }
    42.6% {
        background-color: #DCE775;
    }
    56.8%{
        background-color: #AED581;
    }
    71% {
        background-color: #1E88E5;
    }
    85.2% {
        background-color: #AB47BC;
    }
    100%{
        background-color: #E74C3C;
    }
}*/
/*
@keyframes bgcolor {
    0% {
        background-color: #268bd4;
    }
    14.2%{
        background-color: #190f80;
    }
    28.4%{
        background-color: #650a8f;
    }
    42.6% {
        background-color: #ab0c93;
    }
    56.8%{
        background-color: #d4155b;
    }
    71% {
        background-color: #de1212;
    }
    85.2% {
        background-color: #db7c0f;
    }
    100%{
        background-color: #268bd4;
    }
}*/

@keyframes bgcolor {
    0% {
        background-color: #E74C3C;
    }
    14.2%{
        background-color: rgb(156, 41, 28);
    }
    28.4%{
        background-color: rgb(238, 147, 0);
    }
    42.6% {
        background-color: #157a29;
    }
    56.8%{
        background-color: rgb(96, 163, 19);
    }
    71% {
        background-color: rgb(26, 115, 194);
    }
    85.2% {
        background-color: #AB47BC;
    }
    100%{
        background-color: #E74C3C;
    }
}

@keyframes elastic-snap-to-point-from-apple {
    from { opacity:0; -webkit-transform:translate3d( 210px, -145px, 0); }
    25%  { opacity:1; -webkit-transform:translate3d( -15.6px, 4.1px, 0); }
    30%  { opacity:1; -webkit-transform:translate3d( -10.3px, 2.7px, 0); }
    35%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    40%  { opacity:1; -webkit-transform:translate3d( 4.5px, -1.2px, 0); }
    45%  { opacity:1; -webkit-transform:translate3d( 2.9px, -0.8px, 0); }
    50%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    55%  { opacity:1; -webkit-transform:translate3d( -1.3px, 0.3px, 0); }
    60%  { opacity:1; -webkit-transform:translate3d( -0.8px, 0.2px, 0); }
    65%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    70%  { opacity:1; -webkit-transform:translate3d( 0.4px, -0.1px, 0); }
    75%  { opacity:1; -webkit-transform:translate3d( 0.2px, -0.1px, 0); }
    80%  { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
    85%  { opacity:1; -webkit-transform:translate3d( -0.1px, 0, 0); }
    90%  { opacity:1; -webkit-transform:translate3d( -0.1px, 0, 0); }
    to   { opacity:1; -webkit-transform:translate3d( 0, 0, 0); }
}
